@model PlayerTask
@{ Layout = null; }

<script>
    $(document).ready(function () {
        $(".modal #enter").click(function () {
            $(".modal form").hide();

            if ($(".modal #data").val() != "@Model.data.Split(new char[] { ',' }, 2)[0]") {
                ShowIncorrect(function () { $(".modal form").show(); });

            } else {
                $.post("/Task/Update?playerTaskId=@Model.id", { data: $(".modal #data").val() });
                ShowCorrect(function () { HideModal(); });
            }
        });
    });
</script>

<p>How well do you know the @Model.GetPlayer.GetTeam.name? You should be able to tell us in what year @Model.data.Substring(5)</p>

<form class="">
    <div class="form-group">
        <input type="number" id="data" class="form-control input-lg" />
    </div>
    <div class="form-group">
        <button id="enter" type="button" class="btn btn-primary btn-lg">Enter</button>
    </div>
</form>
