@{ ViewBag.Title = "Off-World Mining";
    ViewBag.BodyStyle = "central"; }

@section scripts {
    <script>
        $(document).ready(function () {
            setInterval(GetStatus, 3000);
        });

        function GetStatus() {
            $.get("/Central/GetStatus", function (status) {
                if (status.state != "@Halloween_Game.Session.CurrentSession.State.ToString()" || status.code != "@Halloween_Game.Session.CurrentSession.Code") window.location = "/";
            });
        }
    </script>
}

<div class="text-center">
    <h1 class="font-central " style="margin-bottom: 20px;">Pan Galactic Technology Summit</h1>

    <h1><span class="glyphicon glyphicon-globe"></span></h1>

    <p class="lead">
        Brought to you by FluxCorp!
    </p>
    <p class="lead">
        Visit one of the several recruitment stations conveniently located in your local system.
    </p>

    <hr />
    <p class="lead">
        Already chosen your faction?<br />
        Enter the four-digit sign-up code here to get started!
    </p>

    <form method="post" action="/Team/Confirm" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-offset-2  col-xs-4">
                <input type="number" name="teamCode" class="form-control" />
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-success" value="">Join Now</button>
            </div>
        </div>
    </form>

    @if (Request["error"] == "badcode") {
        <div class="alert alert-danger">
            <b>Application Denied</b><br />
            Verify your faction's four-digit join code and try again.
        </div>
    }
</div>

<hr />
@* TODO: replace logos with fluxcorp logos *@
<div class="row" style="margin: 30px 0;">
    @foreach (Team team in Team.GetAll()) {
        <div class="col-xs-4">
            <img src="~/Content/logo bw @(team.id).png" class="img-responsive" />
        </div>
    }
</div>

<div class="text-center">
    <h4 class="font-central "><i>Your participation is mandatory!</i></h4>
</div>
