@model Team
@{ Layout = null; }

@foreach (Item item in Model.WarehouseGet()) {
    <div class="row">
        <div class="col-xs-10">@item.name</div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-remove text-danger removeItem" data-id="@item.id" style="cursor:pointer;"></span></div>
    </div>
}

@if (Model.WarehouseGet().Count == 0) {
    <p class="text-muted">No warehoused items.</p>
}